<header>
    <h1>Kalender for Meeting Invitations</h1>
    <div class="login-container">
      <form action="/action_page.php">
        <input type="text" placeholder="Username" name="username">
        <input type="text" placeholder="Password" name="psw">
        <button type="submit">Login</button>
      </form>
    </div>
    </header>
    <ul>
        <li><a routerLinkActive="active" routerLink="/newmeeting" >New Meeting</a></li>
        <li><a routerLinkActive="active" routerLink="/myMeetings/1" >My Meetings</a></li>
        <li><a routerLinkActive="active" routerLink="/allMeeting/1" >All Meetings</a></li>
        <li><a routerLinkActive="active" routerLink="/invitation/1/1" >Employees Management</a></li>
    </ul>